.left_content {
  /* border: 5px solid blue; */
  background-color: cornflowerblue;
  z-index: 1;
  }
  
.right_content {
  /* border: 5px solid yellow; */
  background-color: cornflowerblue;
  z-index: 1;
}