/* .left-ribbon {
    position: relative;
    display: inline-block;
    margin: 5em;
    text-align: center;
  }

  .left-text {
    display: inline-block;
    padding: 0.5em 1em;
    min-width: 15em;
    height: 34.5px;
    color: #FFD72A;
    background: #FFD72A;
    position: relative;
    z-index: 1;
  }

  .left-ribbon:after, .left-ribbon:before,
  .left-text:before, .left-text:after,
  .left-bold:before {
    content: '';
    position: absolute;
    border-style: solid;
  }

  .left-text:before {
    bottom: 100%; left: 0;
    border-width: .5em .7em 0 0;
    border-color: transparent #FC9544 transparent transparent;
  }

  .left-text:after {
    top: 100%; right: 0;
    border-width: .5em 2em 0 0;
    border-color: #FC9544 transparent transparent transparent;
    z-index: 1;
  }

  .left-ribbon:after {
    top: .5em; right: -2em;
    border-width: 1.1em 1em 1.1em 3em;
    border-color: #FECC30 transparent #FECC30 #FECC30;
    z-index: 0;
  } */