/* dropdown menu + trigger */
.right-menu-container {
    position: relative;
  margin-top: -72px;
  margin-left: -48px;
  margin-right: -22px;
  }

  /* Right dropdown menu when opened */
  .right-menu {
    border-radius: 4px;
    position: relative;
    top: -80px;
    right: -120px;
    width: 160px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .right-menu.active {
    background-color: rgba(254,204,48, .75);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding: 2px 0;
    transition: all 0.3s ease-out;
  }
  
  .right-menu ul {
    list-style: none;
  }
  
  .right-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0px 15px 2px;
  }
  
  .right-menu li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-menu li a:hover {
    border-radius: 4px;
    box-shadow: 0 0 10px 3px black;
  }
  
  .right-menu-trigger {  
        cursor: pointer;
        display: inline-block;
        padding: 0.5em 1em;
        min-width: 15em;
        height: 34.5px;
        color: #FFD72A;
        background: #FFD72A;
        position: relative;
        transition: box-shadow 0.4s ease; 
        z-index: 1;
      }
    
      /* why doesn't box-shadow include orange triangles? */
    .right-menu-trigger:hover {
      box-shadow: 0 0 10px 3px black;
      }
    
    .right-menu-trigger span {
        font-weight: 700;
        font-size: 1rem;
        margin: 0 10px;
      }
  
.right-ribbon {
        position: relative;
        display: inline-block;
        margin: 5em;
        text-align: center;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      }
      
      .right-text {
        color: black;
        text-align: center;
    }

      .right-ribbon:after, .right-ribbon:before,
      .right-text:before, .right-text:after,
      .right-bold:before {
        content: '';
        position: absolute;
        border-style: solid;
        z-index: 0;
      }

      .right-text:before {
        top: 100%; left: 0;
        border-width: .5em 0 0 2em;
        border-color: #FC9544 transparent transparent transparent;
        z-index: 1;
      }
      
      .right-text:after {
        bottom: 100%; right: 0;
        border-width: .5em 0 0 .7em;
        border-color: transparent transparent transparent #FC9544;
      }

      .right-ribbon:after {
        top: .5em; left: -2em;
        border-width: 1.1em 3em 1.1em 1em;
        border-color: #FECC30 #FECC30 #FECC30 transparent;
      }