.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    width: auto;
    display: grid;
    grid-area: tnb;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
        "logo title menu"
        "logo . .";
    position: sticky;
  }

  .navbar-title {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      margin-top: 4.5vh;
      grid-area: title;
  }

  .logo {
    display: flex;
    grid-area: logo;
    padding: 0 0 0 20px;
    }

  .menu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: menu;
    padding: 0 20px;
  }